div {
  height: 0px;
}
body {
  display: flex;
  flex-wrap: 1;
  background-color: rgb(164, 164, 164);

  justify-content: center;
}

img {
  margin-top: 10px;
  display: inline;
  height: fit-content;
  width: 1150px;
  border-radius: 10px;
  margin: 30px 30px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
h1 {
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 30px;
  padding-left: 20px;
  color:  #eba816;
  text-shadow: #181817;
  font-size: 45px;
  border-color: black;
  font-weight: 400;
  font-family: 'Belanosima', sans-serif;
  text-decoration: solid underline 3px;
}

p {
  font-size: 1.5rem;
  font-family: 'Kanit', sans-serif;
  text-shadow: darkorchid;
  margin-left: 60px;
  padding-left: 60px;
  margin-right: 15px;
  color: #79380c;
  font-weight: 700;
}

label {
  margin-right: 15px;
}
#para {
  color: white;
}

input {
  border-radius: 5px;
  height: 20px;
  width: 240px;
  margin-right: 7px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
#mblnumber input {
  margin-left: 20px;
}

#emailto input {
  border-radius: 5px;
  height: 20px;
  width: 500px;
  margin-left: 4px;
}
.fill {
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 3px;
  color: black;
}

select {
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-left: 5px;
  border: 2px black;
  border-color: black 2px;
  border-style: ridge;
}
option {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: darkorchid;
  margin-left: 60px;
  padding-left: 20px;
  margin-right: 15px;
  color: black;
  border-color: black 2px;
}

#messageFill{
    display: flex;
    justify-content: first baseline;
}
#messageFill textarea {
  border-radius: 5px;
  height: 50px;
  width: 400px;
  margin-left: 95px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
  font-size: 1.1rem;
  border: solid;
}
#messageFill label {
    
    margin-bottom: 40px;
  }
#address label:nth-of-type(1) {
  margin-left: 100px;
  
}
#address input:nth-of-type(1) {
  border-radius: 5px;
  height: 20px;
  width: 200px;
  margin-right: 20px;
}
#address label:nth-of-type(2) {
  margin-left: 120px;
  color: black;
}
#pincode1 label:nth-of-type(1) {
  margin-left: 230px;
}
#pincode1 input:nth-of-type(1) {
  border-radius: 5px;
  height: 20px;
  width: 200px;
  margin-right: 20px;
}
#pincode1 label:nth-of-type(2) {
  margin-left: 124px;
}
#pincode1{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#line p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#pincode1 input:nth-of-type(2) {
  border-radius: 5px;
  height: 20px;
  width: 100px;
  margin-right: 20px;
 
}
button {
    margin-top: 0px;
    font-family: 'Kanit', sans-serif;
  background: #239cd4;
  color: black;
  border: 2px solid;
  margin-left: 1000px;
  padding: 0.6em 1.5em;
  font-size: 1em;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.25557s;
}

button:hover {
  border-color: #181817;
  columns: white;
  box-shadow: 0 0.5em 0.5em -0.4em rgb(63, 63, 63);

  transition: all 0.25557s;
  cursor: pointer;
}

#line input {
  height: 0px;
  width: 520px;
  margin-left: 500px;
  border-color: gray;
  background-color: grey;
  margin-bottom: 0px;
}


#copyright{
    display: flex;
    justify-content: flex-end;
    color: rgb(45, 44, 44);
    font-size: 1.1rem;
    margin-top: 40px;
}
